*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 1.5rem;

}

